<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.portable" />
  <package id="adwcleaner" />
  <package id="azcopy10" />
  <package id="azure-cli" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-misc-helpers.extension" />
  <package id="chocolatey-visualstudio.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="chocolateygui" />
  <package id="DotNet4.5.2" />
  <package id="DotNet4.6" />
  <package id="DotNet4.6-TargetPack" />
  <package id="DotNet4.6.1" />
  <package id="dotnetfx" />
  <package id="git.install" />
  <package id="github-desktop" />
  <package id="golang" />
  <package id="KB2882822" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="keepass.install" />
  <package id="microsoft-teams" />
  <package id="netfx-4.5.1-devpack" />
  <package id="netfx-4.5.2-devpack" />
  <package id="netfx-4.6.1-devpack" />
  <package id="nodejs.install" />
  <package id="notepadplusplus.install" />
  <package id="office365proplus" />
  <package id="packer" />
  <package id="postman" />
  <package id="powershell-core" version="6.2.1" />
  <package id="sql-server-management-studio" />
  <package id="sysinternals" />
  <package id="terraform" />
  <package id="vcredist140" />
  <package id="vcredist2008" />
  <package id="vcredist2010" />
  <package id="vcredist2013" />
  <package id="vcredist2015" />
  <package id="vcredist2017" />
  <package id="visualstudio-installer" />
  <package id="visualstudio2017-workload-azure" />
  <package id="visualstudio2017enterprise" />
  <package id="visualstudiocode" />
  <package id="webdeploy" />
  <package id="winrar" />
  <package id="wireshark" />
</packages>